* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

header {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 10;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 50px;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}

.center-nav {
    position: absolute;
    left: 43%;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    
}

nav ul li a.active,
nav ul li a:hover {
    color: red;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url("fitnesss.jpg") no-repeat center center/cover;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 80px;
    color: white;
}

.overlay-text h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 55px;
    
}

.overlay-text .red {
    color: red;
}

.overlay-text p {
    font-size: 16px;
    margin-top: 50px;
    line-height: 20px;
}